body {
    margin: 0;
    padding: 0;
    background: url(../assets/web_background.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.search-box-container {
    position: absolute;
    top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-bar-form {
    background: rgba(0, 0, 0, 0.45);
    width: 600px;
    height: 75px;
    display: flex;
    border-radius: 50px;
}

.search-bar-box {
    width: 525px;
    height: 74px;
    background: transparent;
    border: none;
    border-bottom: 1px solid lime;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.search-bar-button {
    background: rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 50px;
    height: 75px;
    width: 75px;
}

.search-icon svg {
    height: 50px;
    width: 50px;
}

header {
    position: absolute;
    top: 0;
    background: rgb(0, 150, 0);
    width: 100%;
    height: 75px;
}

.settings-box-container {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
}

.settings-icon-box {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
}

.settings-box {
    position: absolute;
    top: 75px;
    right: 0;
    width: 250px;
    border-left: 1px solid lime;
    background: rgb(0, 150, 0);
    color: black;
    font-weight: bold;
}

.settings-box input {
    background: transparent;
    border: none;
    box-shadow:
        3px 3px 5px rgba(0, 0, 0, 1)
}

input:focus {
    outline: none;
}

.url-bar-container {
    position: absolute;
    top: 5px;
    width: 325px;
    height: 65px;
    border-radius: 25px;
}

.url-bar-container:hover {
    background: rgb(0, 180, 0);
}

.url-bar-container input {
    position: absolute;
    top: 5px;
    left: 25px;
    height: 50px;
    width: 220px;
    background: transparent;
    border: 1px solid;
    border-color: black;
    border-radius: 25px;
}

.url-bar-container button {
    position: relative;
    top: 5px;
    left: 255px;
    height: 50px;
    width: 50px;
    background: transparent;
    border: none;
}

.url-bar-container button svg {
    position: absolute;
    top: 0;
    left: 0;
}

.url-bar-container path {
    fill: black;
}